<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script src="script.js"></script>
    <title>Bundesliga</title>
</head>
<body>
<div class="players">
    <form class="content" method="get" action="players">
        <label for="verein">Bitte wählen Sie einen Verein</label>
        <select id="verein" name="verein">
        {{#each clubs}}
                <option value="{{V_ID}}" {{selected}}>{{Name}}</option>
        {{/each}}
        </select>
        <br />
        <input type="submit" value="Spieler anzeigen">
        <table class="player">
            <tr>
                <th>Name</th>
                <th>Trikot-Nummer</th>
            </tr>
            {{#each player}}
                <tr>
                    <td>{{Spieler_Name}}</td>
                    <td>{{Trikot_Nr}}</td>
                </tr>
            {{/each}}
        </table>

    </form>
</div>
</body>
</html>